.about {
  &-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 100px;

    @media screen and (max-width: 850px) {
      width: 60%;
    }
    @media screen and (max-width: 636px) {
      width: 50%;
    }
  }
}
